body{
 text-align: center;
 background: linear-gradient(317deg, #319f3a, #00aeca);
background-size: 400% 400%;

-webkit-animation: BGAnimate 0s ease infinite;
-moz-animation: BGAnimate 0s ease infinite;
-o-animation: BGAnimate 0s ease infinite;
animation: BGAnimate 0s ease infinite;

@-webkit-keyframes BGAnimate {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes BGAnimate {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-o-keyframes BGAnimate {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes BGAnimate { 
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
}

h1{
 font-family: 'Montserrat', sans-serif;
 color: black;
 font-size: 6rem
}

h2{
 font-family: 'Montserrat', sans-serif
}
