body{
 text-align: center;
 background-color: #ff3c3c;
 color: white;
 text-transform: uppercase;
}

h1{
 font-family: 'Fjalla One', sans-serif;
 color: white;
 font-size: 6rem;
 text-transform: uppercase;
}

h2{
 font-family: 'Gafata', sans-serif;
 color: white;
 text-transform: uppercase;
}

h3{
 font-family: 'Gafata', sans-serif;
 color: white;
 text-transform: uppercase;
}
p{
 font-family: 'Gafata', sans-serif;
 font-weight: bold;
}
